.board {
	border: 2px solid black;
	height: 480px;
	width: 480px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.inner {
	border: 2px solid black;
	width: 156px;
	height: 156px;
	display: flex;
	flex-wrap: wrap;
}

.box {
	border: 1px solid grey;
	height: 50px;
	width: 50px;
	margin: 0;
	text-align: center;
	line-height: 50px;
	font-size: 35px;
}

.box:hover:not(.selectedNum) {
	background-color: lightblue;
}

.selectedNum:not(.selected) {
	background-color: lightgrey;
}

.selectedOth:not(.selected) {
	background-color: lightblue;
}

.selected {
	background-color: grey;
}

.wrong:not(.set) {
	color: red;
}

.set {
	font-weight: bold;
}